# {{ ansible_managed }}
# oxlorg.graylog

[Unit]
Description=Service to update dockerized Graylog
Requires=docker.service
After=network.target
Documentation=https://github.com/O-X-L/ansible-role-graylog
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/graylog-update.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=graylog-update
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
