# {{ ansible_managed }}
# ansibleguy.sw_graylog

[Unit]
Description=Timer to back-up Graylog

[Timer]
OnCalendar={{ GL_CONFIG.backup.timer }}
Persistent=false
WakeSystem=false

[Install]
WantedBy=multi-user.target
